{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
<h1>All tasks with filters </h1>
<div class="row">
    <div class="col-lg-1 text-left">
        <label for="">Category</label>
    </div>
        <form action="/category_filter/" method='post' role="form">
                    {% csrf_token %}
            <div class="col-lg-2 text-left">
            <select id="source" class="form-control" name="source" required="">
                    <option value="0">All</option>
                    {% if categorys %}
                        {% for category in categorys %}
                            <option value="{{ category.id }}">
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">There is no date</option>
                    {% endif %}
                </select><br>
            </div>
            <div class="col-lg-1 text-left">
                <button type="submit" value="Поиск" formmethod="post" class="btn btn-success btn-sm">
                    <i class="fa fa-minus-square" aria-hidden="true"></i> Apply
            </button>
            </div>
        </form>

</div>
<div class="row">
    <div class="col-lg-1 text-left">
        <label for="">Status</label>
    </div>
        <form action="/state_filter/" method='post' role="form">
                    {% csrf_token %}
            <div class="col-lg-2 text-left">
                <select id="state" class="form-control" name="source" required="">
                    <option value="0">All</option>
                    {% if statuses %}
                        {% for status in statuses %}
                            <option value="{{ status.id }}">
                                {{ status.name }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">No data</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-lg-1 text-left">
                <button type="submit" value="Поиск" formmethod="post" class="btn btn-success btn-sm">
                    <i class="fa fa-minus-square" aria-hidden="true"></i> Apply
            </button>
            </div>
        </form>
</div>
<hr>
{% if tasks %}
{% for task in tasks %}
<div class="row">
    <div class="col-lg-7 text-left">
        <a href="/{{task.id}}/"><h4><i class="fa fa-thumb-tack" aria-hidden="true"></i> Task-00{{task.id}}: {{task.title}}</h4></a>
        <b><i class="fa fa-clock-o" aria-hidden="true"></i> Has to be done before:</b> {{ task.deadline }}<br>
        {{task.description}}
        <sub><a href="/{{task.id}}/">more...</a></sub>
    </div>
    <div class="col-lg-2 text-left">
        <br>
        <sub><b>Status: </b> {{task.status|upper}} <br>
            <b>Priority: </b>{{task.priority}}<br>
            <b>Category: </b> {{ task.category }}<br>
            {{task.created_date}}</sub><br>
        <sub><i class="fa fa-user" aria-hidden="true"></i> Author: {{task.author}}</sub><br><br>
        <br>
    </div>
    <div class="col-lg-1 text-left">
        {% if task.img.url %}
            <img height="250px" src="{{ task.img.url }}" alt="">
        {% else %}
            <img height="250px" src="{% static '/media/default.jpg' %}">
        {% endif %}
    </div>
</div>
<hr/>
{% endfor %}
{% else %}
    Have no tasks yet.
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if tasks.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}
        </span>

        {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number }}">Go next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}